<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%= raw the_head({}) if current_site.present? %>
    <title><%= (content_for?(:title) ? yield(:title) : t('camaleon_cms.admin.login.login')) %></title>
    <%= stylesheet_link_tag "rynger_cms/admin/admin-manifest", media: "all" %>
    <%= javascript_include_tag "rynger_cms/admin/admin-manifest" %>
</head>
<body class="auth-wrapper">
  <div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w">
      <div class="logo-w">
        <%= link_to(image_tag("rynger_cms/flexx_gry.png"), cama_admin_login_path) %>
      </div>
      <h4 class="auth-header">
        Login
      </h4>
      <%= yield %>
    </div>
  </div>
</body>
</html>
