<div class="page-content-wrap" id="contact_form_answers">
  <div class="row">
    <div class="col-md-12">
      <!-- START BASIC TABLE SAMPLE -->
      <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Responses</h3>
            <div class="box-tools pull-right">
              <a class="btn btn-box-action" href="<%= url_for action: :index %>"><%= t('.back_btn', default: 'Back') %></a>
            </div>
        </div>
        <div class="box-body custom-tabe-responsive">
          <table class="table">
            <thead>
            <tr>
              <% @op_fields.select{|f| ["name", "email"].include? f[:label].to_s.downcase }.each do |f| %>
                <th scope="col"><%= f[:label].to_s.translate %></th>
              <% end %>
              <th scope="col"><%= t('.campaign', default: 'Campaign') %></th>
              <th scope="col"><%= t('.created_at', default: 'Initial contact') %></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="contact_form_body">
            <% @forms.each do |form| %>
                <% value = (JSON.parse(form.settings).to_sym rescue form.value) %>
                <tr>
                  <% @op_fields.select{|f| ["name", "email"].include? f[:label].to_s.downcase }.each do |default| %>
                      <% cid = default[:cid].to_sym %>
                      <% if default[:field_type] == "file" %>
                          <td data-label="<%= default[:label].to_s.translate %>"><%= link_to(value[:fields][cid], value[:fields][cid]) %></td>
                      <% elsif default[:field_type] == "radio" || default[:field_type] == "checkboxes" %>
                          <td data-label="<%= default[:label].to_s.translate %>"><%= value[:fields][cid].map { |f| f.to_s.translate }.join(', ') if value[:fields][cid].present? %></td>
                      <% else %>
                          <td data-label="<%= default[:label].to_s.translate %>"><%= value[:fields][cid] %></td>
                      <% end %>
                  <% end %>
                  <td data-label=""><%= form.parent.campaign.name rescue '' %></td>
                  <td data-label=""><%= value[:created_at] %></td>
                  <td data-label="">
                    <%= link_to "view", { action: :show, id: form.id }, class: "btn btn-info btn-xs" %>
                    <%= link_to raw('<span class="text-danger" style="color:#fff">Delete</span>'),
                                { action: :del_response, admin_form_id: @form.id, response_id: form.id },
                                method: :delete, data: { confirm: t('.actions.confirm_delete', default: 'Are you sure?') },
                                class: 'btn btn-danger btn-xs', title: t('.actions.delete', default: 'Delete') %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <%= content_tag("div", raw("#{t('camaleon_cms.admin.message.data_found_list', default: 'No items found')}"), class: "alert alert-warning") if @forms.empty? %>
            <%= raw cama_do_pagination(@forms) %>
        </div>
        <script>
          $( document ).ready(function() {
            $("#contact_form_body tr:not(:first-child) td:first-child").attr("scope","row");
          })
        </script>
      </div>
      <!-- END BASIC TABLE SAMPLE -->
    </div>
  </div>
  <!-- END PAGE CONTENT WRAPPER -->
</div>
