.content-i  
  .content-box
    .element-wrapper
      %h4.element-header
        = t('camaleon_cms.admin.page_title.edit') +" : "+@user.fullname if !@user.new_record?
        = t('camaleon_cms.admin.users.create_user') if  @user.new_record?
      .element-box
        = form_for @user, as: "user", url:{action: @user.new_record? ? :create : :update, id: @user.id}, html:{class: 'validate-user  form-horizontal cama_ajax_request', id: "user_form"} do |f|
          = render partial: 'layouts/camaleon_cms/admin/form_error', locals: {data: @user}
          %h5.form-header{:class => "#{'hidden-xs-up' if !@user.new_record?}"}= @user.fullname if !@user.new_record?
          .row
            .col-sm-6
              .form-group{class: "#{current_user.role == 'admin' ? '' : 'hidden-xs-up'}"}
                %label ID
                = f.text_field :id, :class => "form-control required", disabled: "disabled"
              .form-group
                %label First Name
                = f.text_field :first_name, class: 'form-control required', required: 'required'
              .form-group
                %label Last Name
                = f.text_field :last_name, class: 'form-control'
              .form-group
                %label Username
                = f.text_field :username, :class => "form-control required"
              .form-group
                %label Email
                = f.email_field :email, :class => "form-control required email"
              - if @user.new_record?
                .form-group
                  %label Password
                  = f.password_field :password, :class => "form-control required"
                .form-group
                  %label Repeat Password
                  = f.password_field :password_confirmation, :class => "form-control required",  "equalTo"=>"#user_password"
              .form-group
                %label Role
                - if cama_current_user.the_role == "Administrator"
                  = f.select :role,current_site.user_roles.reorder(:name).decorate.map{|role| [role.the_title, role.slug]}, {}, {:class => "form-control required"}
                - else
                  = f.select :role,current_site.user_roles.reorder(:name).decorate.reject { |role| role.the_title == "Administrator" }.map{|role| [role.the_title, role.slug]}, {}, {:class => "form-control required"}
              %hr
              .row
                - if !@user.new_record?
                  .col-sm-6{:style => "margin-bottom:15px"}
                    %a.btn.btn-warning.btn-block{"data-target" => "#modal_change_password", "data-toggle" => "modal", :href => "#"}= t('camaleon_cms.admin.button.change_password')
                .col-sm-6.pull-right
                  %button.btn.btn-success.btn-block{:type => "submit"}= @user.new_record? ? t('camaleon_cms.admin.button.create') : t('camaleon_cms.admin.button.update')
            .col-sm-6
              #user_image.text-center
                %img.img-thumbnail.input_upload{:src => "#{@user.new_record? || !@user.get_meta("avatar") ? asset_path("camaleon_cms/admin/img/no_image.jpg") : @user.get_meta("avatar")}"}
                %input#user_meta_avatar{:name => "meta[avatar]", :type => "hidden", :value => "#{@user.get_meta("avatar")}"}/
                %a.btn.btn-primary.btn_change_photo{:href => "#"}= t('camaleon_cms.admin.button.change_photo')

//           .col-md-5
//             .box
//               .box-body.form-group-separated
//                 = render partial: "camaleon_cms/admin/settings/custom_fields/render", locals: {record: @user, field_groups: @user.get_user_field_groups(current_site) }
//                 / <div class="form-group">
//                 / <label class="col-md-3 col-xs-5 control-label"><haml_loud> t(&#39;camaleon_cms.admin.table.slogan&#39;) </haml_loud></label>
//                 / <div class="col-md-9 col-xs-7">
//                 / <textarea name="meta[slogan]" class="form-control"><haml_loud> @user.get_meta(&quot;slogan&quot;) </haml_loud></textarea>
//                 / </div>
//                 / </div>
//             - if !@user.new_record?
//               .box
//                 .box-header
//                   %h3.box-title
//                     %span.fa.fa-info-circle
//                     = t('camaleon_cms.admin.table.quick_info')
//                   %p= t('camaleon_cms.admin.message.quick_info')
//                 .box-body.form-group-separated
//                   .form-group
//                     %label.col-md-4.col-xs-5.control-label= t('camaleon_cms.admin.table.last_visit')
//                     .col-md-8.col-xs-7.line-height-30= @user.last_login_at
//                   .form-group
//                     %label.col-md-4.col-xs-5.control-label= t('camaleon_cms.admin.table.registration')
//                     .col-md-8.col-xs-7.line-height-30= @user.created_at
//                 = r = { html: ''}; hooks_run('user_update_more_actions_form', r); raw(r[:html]);
//         = r = { html: ''}; hooks_run('user_update_more_actions', r); raw(r[:html]);



// Modals
#modal_change_password.modal.animated{"aria-hidden" => "true", "aria-labelledby" => "smallModalHead", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only= t('camaleon_cms.admin.button.close')
        %h4#smallModalHead.modal-title= t('camaleon_cms.admin.button.change_password')
      = form_for @user, as: "user", url: @user.new_record? ? cama_admin_users_path : cama_admin_user_updated_ajax_path(@user), html:{id: "profie-form-ajax-password", class: 'validate-password form-ajax-password modal-body'} do |f|
        .form-group
          %label.control-label= t('camaleon_cms.admin.table.new_password')
          %input#pass_new.form-control.required{:name => "password[password]", :type => "password"}/
        .form-group
          %label.control-label= t('camaleon_cms.admin.table.repeat_new')
          %input.form-control.required{:equalto => "#pass_new", :name => "password[password_confirmation]", :type => "password"}/
        .modal-footer
          %button.btn.btn-primary{:type => "submit"}= t('camaleon_cms.admin.button.proccess')
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t('camaleon_cms.admin.button.close')
%script{:type => "application/javascript"}
  :cdata
    jQuery(function ($) { init_profile_form(); });
