<% if flash[:notice] %>
    <div class="flash_messages">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= raw(flash[:notice]) %>
        </div>
    </div>
<% end %>
<% if params[:info] %>
    <div class="flash_messages">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= raw(flash[:notice]) %>
        </div>
    </div>
<% end %>

<% if flash[:error] %>
    <div class="flash_messages">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= raw(flash[:notice]) %>
        </div>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="flash_messages">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= raw(flash[:notice]) %>
        </div>
    </div>
<% end %>

<% if flash[:warning] %>
    <div class="flash_messages">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= raw(flash[:notice]) %>
        </div>
    </div>
<% end %>