<div class="menu-mobile menu-activated-on-click color-scheme-dark">
  <div class="mm-logo-buttons-w">
    <a class="mm-logo" href="index.html"><img src="<%= asset_path 'rynger_cms/app-logo.png' %>"></a>
    <div class="mm-buttons">
      <div class="content-panel-open">
        <div class="os-icon os-icon-grid-circles"></div>
      </div>
      <div class="mobile-menu-trigger">
        <div class="os-icon os-icon-hamburger-menu-1"></div>
      </div>
    </div>
  </div>
  <div class="menu-and-user">
    <div class="logged-user-w">
      <div class="avatar-w">
        <img alt="" src="<%= cama_current_user.the_avatar %>">
      </div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          <%= cama_current_user.fullname %>
        </div>
        <div class="logged-user-role">
          <%= cama_current_user.the_role %>
        </div>
      </div>
    </div>
    <!--------------------
    START - Mobile Menu List
    -------------------->
    <ul class="main-menu">
      <%= raw _admin_mobile_menu_draw %>
    </ul>
    <!--------------------
    END - Mobile Menu List
    -------------------->
    <div class="mobile-menu-magic">
      <h4>
        Light Admin
      </h4>
      <p>
        Clean Bootstrap 4 Template
      </p>
      <div class="btn-w">
        <a class="btn btn-white btn-rounded" href="https://themeforest.net/item/light-admin-clean-bootstrap-dashboard-html-template/19760124?ref=Osetin" target="_blank">Purchase Now</a>
      </div>
    </div>
  </div>
</div>