<div class="menu-mobile menu-activated-on-click color-scheme-dark">
  <div class="mm-logo-buttons-w">
    <div class="mobile-back-btn">  
      <%= link_to :back do %>
        <i class="os-icon os-icon-common-07"></i>
      <% end %>
    </div>
    <a class="mm-logo" href="<%= cama_admin_dashboard_path %>"><img src="<%= asset_path 'rynger_cms/flexx_wht.png' %>"></a>
    <div class="mm-buttons">
      <div class="content-panel-open">
        <div class="os-icon os-icon-grid-circles"></div>
      </div>
      <div class="mobile-menu-trigger">
        <div class="os-icon os-icon-hamburger-menu-1"></div>
      </div>
    </div>
  </div>
  <div class="menu-and-user">
    <a href="<%= cama_admin_profile_edit_path %>" id="mobile_user_edit">
      <div class="logged-user-w">
        <div class="avatar-w">
          <img alt="" src="<%= cama_current_user.the_avatar %>">
        </div>
        <div class="logged-user-info-w">
          <div class="logged-user-name">
            <%= cama_current_user.fullname %>
          </div>
          <div class="logged-user-role">
            <%= cama_current_user.the_role %>
          </div>
        </div>
      </div>
    </a>
    <!--------------------
    START - Mobile Menu List
    -------------------->
    <ul class="main-menu">
      <%= raw _admin_mobile_menu_draw %>
      <li>
        <a href="<%= cama_admin_logout_path %>" id="btn_logout">
          <span>Logout</span>
        </a>
      </li>
    </ul>
    <!--------------------
    END - Mobile Menu List
    -------------------->
    <div class="mobile-menu-magic">
      <h4>
        flexx.
      </h4>
      <p>
        by Rynger
      </p>
      <div class="btn-w">
        <a class="btn btn-white btn-rounded" href="#" target="_blank">Support</a>
      </div>
    </div>
  </div>
</div>