<div class="top-menu-secondary <%= @secondary_menu ? 'locked' : '' %>">
  <div class="top-icon top-settings hidden-sm-down">
    <%= link_to :back do %>
      <i class="os-icon os-icon-common-07"></i>
    <% end %>
  </div>
  <ul>
    <% if @btns %>
      <% @btns.each do |status, value| %>
        <li class="<%= status.to_s == params[:s] ? 'active' : '' %>">
          <%= link_to "#{value}", {action: :index, s: status, q: params[:q] }, class: "nav-link cama_ajax_request" %>
        </li>
      <% end  %>
    <% end  %>
    <!--<li>-->
    <!--  <a href="#"><i class="os-icon os-icon-common-07"></i></a>-->
    <!--</li>-->
    <!--<li class="active">-->
    <!--  <a href="#">Home</a>-->
    <!--</li>-->
  </ul>
  <div class="top-menu-controls">
    <!--<form action="<%= cama_admin_search_path %>" method="get" class="sidebar-form cama_ajax_request">-->
    <!--------------------
    START - User avatar and menu in secondary top menu
    --------------------->
    <div class="logged-user-w hidden-sm-down">
      <div class="logged-user-i">
        <div class="avatar-w">
          <img alt="" src="<%= cama_current_user.the_avatar %>">
        </div>
        <div class="logged-user-menu">
          <div class="logged-user-avatar-info">
            <div class="avatar-w">
              <img alt="" src="<%= cama_current_user.the_avatar %>">
            </div>
            <div class="logged-user-info-w">
              <div class="logged-user-name">
                <%= cama_current_user.fullname %>
              </div>
              <div class="logged-user-role">
                <%= cama_current_user.the_role %>
              </div>
            </div>
          </div>
          <div class="bg-icon">
            <i class="os-icon os-icon-wallet-loaded"></i>
          </div>
          <ul>
            <li>
              <a href="<%= cama_admin_profile_edit_path %>"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile</span></a>
            </li>
            <li>
              <a href="<%= cama_admin_logout_path %>"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--------------------
    END - User avatar and menu in secondary top menu
    --------------------->
  </div>
</div>